# Server Config
PORT=3000
NODE_ENV=development

# Database Config (Placeholder)
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DB_URL=

# API Keys (Placeholder)
GEMINI_API_KEY=
